*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#Header{
    padding: 2rem 0;
}

#Header .logo{
    font-size: 2rem;
    color: orange;
}
body{
    background: #eff4fd;
    user-select: none;
    scroll-behavior: smooth;
}
#Header nav a{
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    margin-right: 2.5rem;
    font-weight:bold;
}
#Header nav a:hover{
    color: red;
}
#Home .row{
    align-items: center !important;
    margin-top: 1rem;
    gap: 2rem;
}
#Home .image{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

#Home .image img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

#Home .image:hover .bghero{
    bottom: 40px;
}

#Home .image:hover .heroimg{
    left: 45%;
}


#Home .content{
    margin-top: 10%;
    margin-left: 2rem;
}
#Home .content h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
    font-weight: bold;
}
#Home .content span{
    color: orange;
}
#Home .content p{
    color: #555;
    line-height: 22px;
    width: 50%;
}
#Home .content a{
    background: #212121;
padding: 10px 18px;
text-decoration: none;
font-weight: bold;
color: #fff;
display: inline-block;
margin: 30px 0;
border-radius: 5px;
}
.social{
    margin-left: 8%;
    margin-top: 100px;
}

.social a{
    font-size: 30px;
    color: #212121;
    margin-right: 20px;
}

.social a:hover{
    color: orange;
}




/* skills section starts */
.skills {
    margin: 50px 0;
    
  }
 .skills h2{
  text-align: center;
  color: black;
 }
 .skills h2 span{
  color: orange;
 }
  .skills .container {
    color: #fff;
    background: lightgray;
    border-radius: 1rem;
    padding: 2rem;
    width: 90%;
    margin: auto;
    margin-top: 2rem;
  }
  .skills .container .row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    flex-wrap: wrap;
    gap: 1.8rem;
  }
  .skills .container .bar {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 22, 0.4);
    transition: 0.2s;
    cursor: pointer;
  }
  .skills .container .bar:hover {
    box-shadow: 0 8px 10px rgba(0, 2, 68, 0.8) !important;
    background-color: rgba(0, 0, 0, 0.9) !important;
  }
  .skills .container .bar .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  .skills .container .bar .info i {
    font-size: 3.5rem;
  }
  .skills .container .bar .info span {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Poppins";
    margin-left: 0.5rem;
  }
  /* skills media queries starts*/
  @media screen and (max-width: 600px) {
    .skills .container {
      padding: 0;
      margin: 0;
    }
    .skills .container .row {
      grid-template-columns: repeat(2, 1fr);
      margin: 1rem;
      padding: 2rem 0.2rem 2rem 0.2rem;
      gap: 1rem;
    }
    .skills .container {
      margin-top: 5px;
      width: 100%;
    }
  }
  /* skills media queries ends*/
  /* skills section ends */



  /* Projects */
.project-section {
  position: relative !important;
  padding-top: 100px !important;
  padding-bottom: 30px !important;
}
.project-section .discription{
text-align: center;
  color: gray;
}

.project-card {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: 40rem !important;
}

.project-card-view {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
  background-color: transparent !important;
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
}
.project-card-view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}
.project-card .card-text{
  color: gray;
  margin-bottom: 1rem;
  height: 10rem;
  overflow: hidden;
  text-overflow: clip !important;
}
.project-card .card-body{
  height: 50% !important;
  overflow: hidden !important;
}
.project-card .card-title{
  color: black;
}
.card-img-top {
  padding: 20px !important;
  opacity: 0.8 !important;
  border-radius: 10px !important;
}


.btn-primary {
  color: #fff !important;
  background-color: #623686 !important;
  border-color: #623686 !important;
  width: 100%;
  margin-top: 1rem;
  padding: 0.7rem 7rem;
  text-decoration: none;
  border-radius: 10px;
}

.btn-primary:hover {
  color: #fff !important;
  background-color: #6d20c5d7 !important;
  border-color: #6d20c5d7 !important;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
.project-section h2 {
  color: black;
  text-align: center;
}

.project-section h2 span{
  color: orange;
}

/* --------- */



#Contact{
  margin: 50px 0;
}

#Contact h2{
  color: black;
  text-align: center;
}
#Contact h2 span{
  color: orange;
}
#Contact .container{
  background: url(../Assets/contact.jpg) no-repeat #e0f3fa9f;
  background-size: contain;
  padding: 2rem 0;
  border-radius: 15px;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  
}
#Contact input{
  width: 60%;
  padding:0.5rem 1.5rem;
  border-radius: 15px;
  border: none;
  outline: none;
  background: rgba(0, 0, 22, 0.089);
}
#Contact textarea{
  border-radius: 15px;
  border: none;
  outline: none;
  margin-left: 4rem;
  padding: 1rem;
  background: rgba(0, 0, 22, 0.089);
}
#Contact .btn{
  width: 10rem;
  position: absolute;
  right: 20%;
 bottom: 5%;
 background:#623686 !important;
 color: #fff !important;
}
#Contact .row{
  gap: 2rem;
  padding: 1rem;
  display: flex;
  flex-flow: row nowrap;
}



#About{
  margin: 100px;
}

#About .image{
  height: 16rem;
  width: 19rem;
  border-radius: 15px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: #212121;
  position: relative;
}
#About .pr-img{
  width: 7rem;
  height: 7rem;
}
#About .image img{
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  outline: 3px solid orange;
}

#About h5{
  margin-top: 0.8rem;
  color: orange;
}
#About p{
  color: gray;
}
#About .social{
  text-align: center;
  background: orange;
  width: 80%;
  padding: 0.5rem;
  border-radius: 20px;
  position:absolute;
  bottom: -10%;
  right: 10%;
}
#About .social a{
  background: rgba(243, 212, 153, 0.658);
  border-radius: 50%;
  padding:0.5rem 0.7rem;
  text-align: center;
  font-size: 1.4rem;
}

#About h1 span{
  color: orange;
  margin-bottom: 2rem;
}
#About .content p{
  color: gray;
  font-size: 1.2rem;
  text-align: justify;
  line-height: 2rem;
}

